* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.dark-blue{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    
    
}

.header{ 
    display: flex;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 40px 0;
    
    
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
ul {
    list-style:none;
    display: flex;
    gap:  16px;
    
}

a {
    color: inherit;
    text-decoration: none;
}

/*-------------*/

.top{

    display: flex;
    color: #E5E7EB;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 50%;
    padding: 80px 0;
    
}

.awesome {
    font-size: 48px;
    font-weight:900;
    
}

.top-container {
    display: flex;
    flex-direction: column;
    
    gap: 16px;
}
.top-container > button {
    max-width: fit-content;
    padding: 8px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.top-image {
    height: 250px;
    width: 450px;
    background-color: lightslategray;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /*-------------*/

 .info {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
    
 }

 .info-title {
    flex-basis: 100%;
    font-size: 36px;
    font-weight:900;
    color: #1F2937;
 }

.info-box {
 flex-basis: 200px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
}

.rounded-box {
width: 150px;
height: 150px;
border: 5px solid #3882F6;
border-radius: 10px;
}


 /*-------------*/

.quote {
    background-color: #E5E7EB ;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    color: #1F2937;
    font-size: 36px;
    gap: 32px;
}

.quote-text {
    max-width: 800px;
    font-style: italic;
    font-weight: 300;
    
}
.quote-author {
    margin-left: auto;
}
 /*-------------*/
.signup {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.blue-box {
   background-color: #3882F6; 
   display: flex;
   padding: 40px 80px;
   gap: 40px;
   border-radius: 10px;
   width: 50%;
   justify-content: space-between;
   color: #F9FAF8;
   margin: 80px;
   flex-wrap: wrap;
}


.blue-box > button {
    border:3px solid #E5E7EB;
    border-radius: 5px;
    padding: 8px 16px;
    flex-shrink: 0;
}
 /*-------------*/
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 40px;
    color: #E5E7EB;

}
 



@media (max-width: 768px) {
    .header, .top {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        width: 100%;
    }

    

    .header-links {
        margin-top: 20px;
    }
}